body {
  overflow-x: hidden;
}

ul,
li {
  display: block;
}

.noMarginPadding {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 100vw;
}

.halfScreen {
  width: 50%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.fullImg {
  max-width: 100%;
  object-fit: cover;
  transition: 0.4s ease-in-out;
  position: relative;
}
.halfScreen:hover .overlay {
  opacity: 1;
  transition: all 0.4s;
}

.halfScreen:hover .fullImg {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 100px;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.classCars {
  color: #fff;
  font-weight: 900;
}

.btnCars {
  width: 125px;
  height: 50px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 15px;
}

.carData {
  padding: 10px 15px;
}

.space-between {
  justify-content: space-between;
}

.timeRender {
  margin-top: 10px;
  margin-left: 400px;
  justify-content: space-around;
}

.btnGo {
  width: 110px;
}
